<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Attendance View</h4>
                        <p class="card-category"> Select date and session to view attendance</p>
                        
                    </div>
                    <div class="card-body">
                        <form (submit)="getAddendance(date.value, session.value)" novalidate >
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field >
                                        <mat-label >Select date</mat-label>
                                        <input class="mat_datepicker" #date matInput [matDatepicker]="myDatepicker" disabled required>
                                        <mat-datepicker-toggle matSuffix [for]="myDatepicker" ></mat-datepicker-toggle>
                                        <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field >
                                        <mat-label >Select session</mat-label>
                                        <mat-select #session>
                                          <mat-option value="1">1</mat-option>
                                          <mat-option value="2">2</mat-option>
                                          <mat-option value="3">3</mat-option>
                                          <mat-option value="4">4</mat-option>
                                          <mat-option value="5">5</mat-option>
                                          <mat-option value="6">6</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button mat-raised-button type="submit" class="btn btn-primary pull-right">Get Data</button>  
                                        </div>
                                        <div class="col-md-6">
                                            <mat-spinner mode="indeterminate" *ngIf="loading" diameter="45"></mat-spinner>
                                        </div>
                                    </div>                                                              
                                </div>
                            </div>
                        </form>
                        
                         
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Session
                                    </th>
                                    <th>
                                        Attendance
                                    </th>
                                    
                                </thead>
                                <tbody *ngFor="let record of records">
                                
                                        <td> {{record.ID}} </td>
                                        <td> {{record.name}} </td>
                                        <td> {{date.value}} </td>
                                        <td> {{session.value}} </td>
                                        <td> {{record.PorA}} </td>
                                                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  