.custom12{
    position: relative;
    height: 250px;
}

.userImgUploader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: auto;
}

.userImgUploader .uploadimgview{
    height: 200px;
    width: auto;
    margin: 1px auto;
    z-index: 9;
}
.userImgUploader .uploadimgSelect{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 620px;
    z-index: 99;
    opacity: 0;
}